/* the header (beg) */
header {
display: flex;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
position: fixed;
top: -22px;
z-index: 5px;
background-color: white;
border-bottom: 1px solid black;
width:103%;
margin-left:-10px;
padding: 15px 30px;
align-items: center;
}

.logo {
  color: MediumAquamarine;
  margin: 5px;

}

.navigationtab {
  display: inline-block;
  float: right;
 margin-left: 900px;
 word-spacing: 10px;
}

a {
  color: black;
}
/* end of header */

/* the four columns */
.allcolumns {
  display: flex;

}

.column {

  border: 3px solid black;
}
.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;

}

.column.small {
  display: flex;
  width: 240px;

}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
/* background images for all the titles */
.lead-story {
  display: flex;
  background-image: url("./resources/wine.png");
  flex-direction: row;
  flex-wrap: nowrap;

}

.fall-canceled {
  display: flex;
  background-image: url("./resources/girl.png");
  flex-direction: column;
}

.pop-culture {
  display: flex;
  background-image: url("./resources/cameraman.png");
  flex-direction: column;

}



.cats {
  display: flex;
  background-image: url("./resources/cat.png");
}

.image-content {
  display: flex;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.topic {
  color: white;
}

.all {
  display: flex;
  
}

.tiny {
  width: 50%;
}

.newsbites {
  font-size: 16px;
  font-weight: bold;
}

.bites {

}
