/* the header (beg) */
header {
display: flex;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
position: fixed;
top: -22px;
z-index: 5px;
background-color: white;
border-bottom: 1px solid black;
width:103%;
margin-left:-10px;
padding: 15px 30px;
align-items: center;
}

.logo {
  color: MediumAquamarine;
  margin: 5px;

}

.navigationtab {
  display: inline-block;
  float: right;
 margin-left: 900px;
 word-spacing: 10px;
}

a {
  color: black;
}
/* end of header */
